:root{
    --mbile-width: 320px;
    --tablet-width: 768px;
    --desktop-width: 1440px;
    --font-family: "Red Hat Display";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
}

header{
width :100%;
}

main{

}

footer{

}
/* git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin git@github.com:kozzztia/adaptive-lesson.git
git push -u origin main */